<ion-header>
  <ion-toolbar>
    <ion-title>market</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Aquista timbri nuovi </h1>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>url</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Card Content
    </ion-card-content>
  </ion-card>

  <ion-button (click)="aggiornaCrediti(10)"> </ion-button>
  <h1> Acquista nuovi crediti </h1>
  <ion-button (click)="aggiornaCrediti(-10)"> 10 crediti</ion-button>
  <ion-button (click)="aggiornaCrediti(-50)"> 50 crediti </ion-button>
  <ion-button (click)="aggiornaCrediti(-100)"> 100 crediti </ion-button>

</ion-content>
