<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="crea">
    <ion-button [routerLink]="['../../crea-partita']" (click)="this.crea.resettaCodice()">Crea Partita</ion-button>
  </ion-card>
  <br>
  <br>
  <ion-card id="pubbliche">
    <ion-grid [fixed]="true">
      <ion-row id="intestazione">
        <ion-col>nome partita</ion-col>
        <ion-col>numero partecipanti</ion-col>
        <ion-col>entra</ion-col>
      </ion-row>
      <ion-row class="righe" *ngFor="let partita of partite">
        <ion-col>{{this.partita.codice}}</ion-col>
        <ion-col>{{this.partita.numPartecipanti}}</ion-col>
        <ion-col><ion-button>entra</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <br>
  <br>
  
  <ion-card id="privata">
    <ion-searchbar animated="true" placeholder="Inserisci qui il codice della partita" [(ngModel)]="searchTerm" (keydown.enter)="cercaPartita()"></ion-searchbar>
    <ion-grid [fixed]="true" *ngIf="partitaCercata !== undefined">
      <ion-row id="intestazione">
        <ion-col>nome partita</ion-col>
        <ion-col>numero partecipanti</ion-col>
        <ion-col>entra</ion-col>
      </ion-row>
      <ion-row class="righe">
        <ion-col>{{this.partitaCercata.codice}}</ion-col>
        <ion-col>{{this.partitaCercata.numPartecipanti}}</ion-col>
        <ion-col><ion-button>entra</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!--<app-tabellone></app-tabellone>
  <app-schede></app-schede>-->
</ion-content>


