<ion-header>
  <ion-toolbar>
    <ion-title>creaPartita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bottoni">
  <ion-card *ngIf="this.crea.codice==''">
    <ion-button class="tipo" (click)="this.crea.setPublic()"> Pubblica </ion-button>
    <ion-button class="tipo" (click)="this.crea.setPrivate()"> Privata </ion-button>
  </ion-card>
</ion-content>

<div *ngIf="this.crea.codice!=''">
  <title *ngIf="this.crea.pubblica== true && this.crea.pubblica != undefined; then thenBlock else elseBlock "></title>
  <ng-template #thenBlock>Partita pubblica creata</ng-template>
  <ng-template #elseBlock>Partita privata creata</ng-template>
    <div class="attesa" *ngIf="this.crea.pubblica != undefined">
      <p> Codice partita: {{this.crea.codice}} </p>
    </div>
</div>
<ion-content>
  <ion-button *ngIf="this.crea.codice !=''" >START PARTITA</ion-button><!--manca controllo numero giocatori-->
  <ion-button *ngIf="this.crea.codice !=''" (click)="this.elimina.cancelPartita(this.crea.codice)">ANNULLA PARTITA</ion-button>
</ion-content>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['../tabs/tab1']">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['../tabs/tab2']">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['../tabs/tab3']">
        <ion-icon name="square"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-content>