<ion-header>
  <ion-toolbar>
    <ion-title><p> Codice partita: {{this.codice}} </p></ion-title>
  </ion-toolbar>
</ion-header>
<title *ngIf="this.crea.pubblica== true && this.crea.pubblica != undefined; then thenBlock else elseBlock "></title>
<ng-template #thenBlock>Partita pubblica creata</ng-template>
<ng-template #elseBlock>Partita privata creata</ng-template>
<ion-content>
  <!--questi bottoni visibili solo se sono il proprietario della partita-->
  <ion-button >START PARTITA</ion-button><!--manca controllo numero giocatori-->
  <ion-button (click)="this.elimina.cancelPartita(this.codice)">ANNULLA PARTITA</ion-button>
</ion-content>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/../../tabs/tab1']">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab2']">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab3']">
        <ion-icon name="square"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-content>
