<ion-header>
  <ion-toolbar>
    <ion-title><p> Codice partita: {{this.codice}} </p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.proprietario==true; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <ion-button >START PARTITA</ion-button><!--manca controllo numero giocatori-->
      <ion-button (click)="this.elimina.cancelPartita(this.codice)">ANNULLA PARTITA</ion-button>
    </ng-template>
    <ng-template #elseBlock>
      <p>Proprietario: {{this.userProprietario}}</p>
    </ng-template>
</ion-content>
<app-schede></app-schede>



<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/../../tabs/tab1']">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Tab 1</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab2']">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Tab 2</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/../../tabs/tab3']">
        <ion-icon name="square"></ion-icon>
        <ion-label>Tab 3</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-content>
